# Ignore Gradle's project-specific cache directory:
/.gradle/

# Ignore Gradle's build output directories:
/HelloJoltJni/build/
/SmokeTestAll/build/
/build/

# Ignore local configuration:
/local.properties

# Ignore IDE-specific directories:
/.idea/
